<%- include('partials/_header') %>

<div class="sidebar">
    <ul>
        <li><a href="/tablausers">Usuarios</a></li>
        <li><a href="/admin">Productos</a></li>
        <li><a href="/tablapedidos">Pedidos</a></li>
    </ul>
</div>

<div class="main-content">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(productos => { %>
            <tr>
                <td><%= productos.id %></td>
                <td><%= productos.nombre %></td>
                <td><%= productos.descripcion %></td>
                <td>$<%= productos.precio %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include('partials/_footer') %>
